body {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1891105/cherries2.jpg");
  }
  
  
  #logo {
    display: flex;
    justify-content: center; 
    border-radius: 30%;
    border: 3px solid #9b0305;
    background-color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #5d9667;
    opacity: .9;
    margin: 30px;
    border-radius: 5%;
  }
  
  .navbtn {
   font-size: 25px;
   text-decoration: none;
   margin: 30px;
  }
  
  #menubtn:hover,#menubtn:focus { /*on focus, cursor changes to a pointer*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #mapbtn:hover,#mapbtn:focus { /*on focus, cursor changes to a pointer*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #aboutbtn:hover,#aboutbtn:focus { /*on focus, cursor changes to a pointer*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #contactbtn:hover,#contactbtn:focus { /*on focus, cursor changes to a pointer*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
  }
  
  .menu-content {
    position: relative;
    background-color: #5d9667;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 5px 10px #48494c;
    color: #e8f2ea;  
    font-size: 20px;
  }
  
  .menu-content::after { 
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, white 25%, #535353 26%, #5d9667 40%);
    background-color: #5d9667;
    background-size:50px 100px;
    height:50px;
    background-repeat: repeat-x;
  }
  
  .closeBtn {
    color: #2c2d2c;
    float: right;
    font-size: 30px;
    padding-top: 40px;
  }
  
  .closeBtn:hover,.closeBtn:focus { /*on focus, cursor changes to a pointer*/
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .drinks, .food {
    font-family: 'Pacifico', cursive;
    list-style-type: none;
    text-align: center; 
    padding-top: 40px;
  }
  
  .flavors {
    font-size: 10px;
    padding: -5px;
  }
  
  #main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px;
    padding: 20px;
    border: 3px solid #9b0305;
    border-radius: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
  }
  
  #gallery {
   display: flex:
   justify-content: center;
   flex-wrap: wrap;
   padding: 30px;
  }
  
  .images {
    border: 1px solid #e8e6e1;
    box-shadow: 0 0 30px rgba(0,0,0,0.7);
    padding: 5px;
    background-color: #d3d3d1;
  }
  
  .description {
    margin-top: -10px;
  }
  
  .map-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    box-shadow: 5px 10px #48494c;
    color: #9b0305;
  }
  
  .contact-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 5px 10px #48494c;
    color: #9b0305;
  }
  
  .about-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 60%;
    box-shadow: 5px 10px #48494c;
    color: #9b0305;
  }
  
  #footer {
    position: relative;
    background-color: #318c4c;
    height: 300px;
    width: 100%;  
  }
  
   #footer > .footdiv {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-top: 70px;
   
  }
     
    #footimg {
    border: 1px solid #bf0d19;
    border-radius: 50%;
   } 
  
  /* #footimg {
    margin: auto;
  } */
  
  #footer::after { 
    position:absolute;
    top: -20px;
    left: 0px;
    width: 100%;
    content:" ";
    background: 
    radial-gradient(circle at 50% 0%, white 25%, #535353 26%, #5d9667 40%);
    background-color: #5d9667;
    background-size:50px 100px;
    height:50px;
    background-repeat: repeat-x;
  }
  
  
  #scalloped {
    position: relative;
    height: 340px;
    background-color: #5d9667;
    width: 100%;
    padding-top: 30px;  
  }
  
  @media (max-width: 768px) {
    body {
      background-image: none;
      background-color: #5d9667;
    }
    
    #main {
      font-size: 20px;
    }
    
    #footer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
   .navbtn {
   font-size: 15px;
   text-decoration: none;
   margin: 20px;
  }
  
  }
  
  